body {
  background-image: url(mgglass.png);
  background-image opacity: .5;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 0;
  
  
}
.Logo img {
  width: 100px;
  padding-top: 50%;
  height: fit-content;
  padding: 5px;
  width: 150px;
}
#top {
  width: 100%;
  display: flex;
  font-size: 20px;
  color: rgb(74, 147, 211);
  row-gap: 20%;
  margin-top: -5em;
  margin-left: 11%;
}
#top a {
  text-decoration: none;
  color: rgb(77, 26, 103);
  display: block;
  text-decoration: none;
  margin-top: -1.1em;
  margin-left: 13.49em;
}
a:hover {
  color: rgb(50, 129, 129);
  text-decoration: none;
}

nav {
  padding: 50px;
  display: block;
  color: rgb(114, 215, 215);
  margin-top: -9em;
  display: block;
}
nav ul {
  list-style: none;
  float: right;
  color: rgb(224, 94, 94);
  padding-top: 0%;
}

nav li {
  float: left;
  margin: 25px;
  font-size: 25px;
}

a {
  font-family: "Times New Roman", Times, serif;
  color: rgb(19, 28, 91);
  text-decoration: none;
}

.paragraph {
  background-color: rgb(142, 144, 144);
  height: 500px;
  width: 25%;
  line-height: 3.5rem;
  padding: 20px;
  font-size: 35px;
  margin-top: 20%;
}

.Photo img {
  float: right;
  height: 530px;
  margin-left: 30%;
  margin-top: 17%;
}

.tax a {
  padding: 20%;
  width: 100%;
  margin-top: 20%;
  height: 40px;
  width: 40px;
  font-size: 40px;
  font-style: bold, italic;
  margin-top: 70%;
}
footer {
  align-items: center;
  color: antiquewhite;
  background: rgb(103, 101, 105);
  padding: 20px;
  text-align: center;
  opacity: 0.9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

h2 {
  position: relative;
  left: 30%;
  color: rgb(43, 123, 193);
  margin: 40px;
  text-align: center;
  padding-top: 50px;
}
.list ul {
  padding: 20px;
}
.list li {
  color: rgb(138, 46, 46);
  padding-left: 20px;
  font-style: bold;
  font-size: 20px;
}
.list p {
  color: rgb(166, 240, 37);
  background-color: rgba(150, 146, 142, 0.467);
  font-size: 20px;
  font-style: italic;
  width: 30%;
  padding-bottom: -90%;
}
.img img {
  float: right;
  margin: 20% 0 0 30%;
  width: 700px;
}
#services p {
  color: rgb(75, 47, 187);
  font-style: italic, bold;
  font-size: 40px;
  text-align: center;
}
strong {
  color: rgb(166, 240, 37);
}
